# Backend
backend/target/
backend/.classpath
backend/.project
backend/.settings/

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/.vite-temp/

# IDE
.vscode/
.idea/

# OS
.DS_Store

